@{
    ViewBag.Title = "Welcome";
}

<!-- Slider -->
<section id="slider">
    <div id="myCarousel-one" class="carousel slide">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel-one" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel-one" data-slide-to="1"></li>

        </ol>

        <div class="carousel-inner">
            <div class="item active">

                <div class="carousel-caption wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro-text">
                                <h1 class="intro-lead-in animated bounceInLeft">photos and Vidoes</h1>
                                <h2 class="intro-heading animated bounceInRight">pic N vid</h2>
                                <p class="intro-paragraph animated bounceInRight">video and photography services.</p>
                            </div>
                            <a href="#services" class="page-scroll btn btn-xl slider-button animated bounceInUp">Services</a>
                        </div>
                    </div>
                </div>
                <img src="img/backgrounds/header-bg.jpg" alt="slider-image" />

            </div>
            <div class="item">
                <div class="carousel-caption wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro-text">
                                <h1 class="intro-lead-in animated bounceInLeft">Creative Digital</h1>
                                <h2 class="intro-heading animated bounceInRight">Agency</h2>
                                <p class="intro-paragraph animated bounceInRight">Welcome to our private quarters on the web</p>
                            </div>
                            <a href="#services" class="page-scroll btn btn-xl slider-button animated bounceInUp">Services</a>
                        </div>
                    </div>
                </div>
                <img src="img/backgrounds/header-bg-two.jpg" alt="slider-image" />
            </div>
            <!-- Controls -->
            <a class="myCarousel-one-left" href="#myCarousel-one" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="myCarousel-one-right" href="#myCarousel-one" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</section>

 

 